/*
   #  表示 id 选择器   
   .  表示 类 选择器 
*/
#backView {
    box-shadow: 5px 5px 100px 5px gray; /* 添加阴影*/
    border-radius: 15px;
    width: 200px;
    height: 200px;
    background-color: green;
}
.maskView{
   background-color: rgba(0.5, 0.5, 0.5, 0.5);
   

}